{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "react/display-name": "error",
    "react/no-comment-textnodes": "error",
    "react/no-direct-mutation-state": "error",
    "react/prop-types": "error",
    "react/self-closing-comp": "error"
  },
  "plugins": [
    "react"
  ]
}
