@highlight_color: silver;
@light_background: #f0f0f0;

@color-main: @highlight_color;
@color-main-light: fadeout(@color-main, 80%);

@sidebar-width: 15rem;
@header-height: 5rem;

@spacing: 2rem;
@spacing-bigger: @spacing * 1.5;

@font-big: 4rem;
@font-mid: 1.5rem;
@font-small: 1rem;

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
div,ul {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:hover {
    color: green;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: @spacing-bigger;
  .name_div {
    flex-grow: 9999;
    font-size: @font-big;
  }
  .contact_info {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    font-size: @font-mid;
  }
}
@media screen and (min-width: 725px) {
  .header {
    .contact_info {
      flex-direction: column;
    }
  }
}


.section {
  margin: 0;
  margin-bottom: @spacing-bigger;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid @highlight_color;
  &:nth-child(2n) {
    // background-color: @color-main-light;
  }
}

.section.instructions {
  width: 100%;
  white-space: pre-line;
  font-size: @font-mid;
  margin: 0;
  padding-left: 40px;
  .instruct {
    list-style-type: decimal;
  }
}

.section.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .file_button_holder {
    cursor: pointer;
    font-size: @font-mid;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 120px;
    color: black;
    &:hover {
      color: blue;
    }

    .file_input {
      cursor: pointer;
      height: 30px;
      left: 0;
      opacity: 0.01;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 200px;
    }
  }
  .files_container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .fileName {
      font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid #ccc;
    }
  }
  .graph_options {
    display: flex;
    flex-direction: column;
  }
}


.section.results {
  overflow: hidden;
}


.main_content {
  flex: 1 1 auto;
  text-align: left;
  z-index: 1;
  overflow: scroll;

  .section.input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .add_category {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: @font-small;
      cursor: pointer;
      padding: 5px;
      .plus {
        font-size: 90px;
        line-height: 30px;
      }
      background-color: rgba(0,0,0,.01);
    }

    .category {
      .rounded(2px);
      .user-select(none);
      width: 200px;
      z-index: 1;
      overflow: visible;
      padding: 4px;

      @anitime: .5s;
      @category_animation: width @anitime;
      .transition(@category_animation);

      &.unloaded {
        width: 0;
        height: 0;
        border: none;
        .remove_category {
          visibility: hidden;
        }
      }

      .remove_category {
        pointer-events: all;
        padding: 0 5px;
        cursor: pointer;
      }

      .top_row {
        display: flex;
        .Typeahead {
          flex-grow: 1;
        }
      }
    }
  }
}


.Typeahead {
  overflow: visible;
  input {
    width: 100%;
    border: none;
    background: rgba(255,255,255, .8);
    outline: none;
  }
  .typeahead_suggestions {
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
  }
  .typeahead_suggestion {
    cursor: pointer;
    &:hover {
      background-color: #dfd;
    }
  }
}

.loading_overlay {
  display: block;
  position: static;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 999;

  .spinner {
    margin: 100px auto 0;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: @font-small;
  }

  .progress {
    text-align: center;
    font-size: @font-mid;
    color: white;
  }

  .spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
      }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}
.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
.user-select(@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
}
